svg {
    overflow: visible;
}

svg text {
    fill: white;
}

.node-circle {
    stroke: #fff;
    stroke-width: 1px;
}

.node-circle.active {
    stroke: gold;
}

.link {
    fill: none;
}

.lemon {
    stroke-width: 1;
    stroke: #969696;
}

.passion {
    stroke-width: 2;
    stroke: #d9d9d9;
}

.link.active {
    stroke: gold;
}
