body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 90%;
}

.node-circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node-circle.active {
    stroke: gold;
}

.link {
    fill: none;
}

.lemon {
    stroke-width: 1;
    stroke: #bbb;
}

.broom {
    stroke: #bbb;
    stroke-width: 2;
}

.link.active {
    stroke: gold;
}
